/*should be optimized later*/
body {
  background-image: repeating-radial-gradient(#444444, white);
  background-repeat: repeat-y; }

.dropdown-menu {
  text-align: center; }

iframe.iframe-1600 {
  display: none; }
  @media (min-width: 1616px) {
    iframe.iframe-1600 {
      display: block; } }
iframe.iframe-1400 {
  display: none; }
  @media (min-width: 1394px) and (max-width: 1615px) {
    iframe.iframe-1400 {
      display: block; } }
iframe.iframe-1200 {
  display: none; }
  @media (min-width: 1200px) and (max-width: 1393px) {
    iframe.iframe-1200 {
      display: block; } }
iframe.iframe-1100 {
  display: none; }
  @media (min-width: 1110px) and (max-width: 1199px) {
    iframe.iframe-1100 {
      display: block; } }
iframe.iframe-1000 {
  display: none; }
  @media (min-width: 1010px) and (max-width: 1109px) {
    iframe.iframe-1000 {
      display: block; } }
iframe.iframe-900 {
  display: none; }
  @media (min-width: 910px) and (max-width: 1009px) {
    iframe.iframe-900 {
      display: block; } }
iframe.iframe-800 {
  display: none; }
  @media (min-width: 810px) and (max-width: 909px) {
    iframe.iframe-800 {
      display: block; } }
iframe.iframe-700 {
  display: none; }
  @media (min-width: 710px) and (max-width: 809px) {
    iframe.iframe-700 {
      display: block; } }
iframe.iframe-600 {
  display: none; }
  @media (min-width: 610px) and (max-width: 709px) {
    iframe.iframe-600 {
      display: block; } }
iframe.iframe-500 {
  display: none; }
  @media (min-width: 510px) and (max-width: 609px) {
    iframe.iframe-500 {
      display: block; } }
iframe.iframe-400 {
  display: none; }
  @media (min-width: 410px) and (max-width: 509px) {
    iframe.iframe-400 {
      display: block; } }
iframe.iframe-300 {
  display: none; }
  @media (min-width: 310px) and (max-width: 409px) {
    iframe.iframe-300 {
      display: block; } }
iframe.iframe-200 {
  display: none; }
  @media (min-width: 210px) and (max-width: 309px) {
    iframe.iframe-200 {
      display: block; } }
iframe.iframe-100 {
  display: none; }
  @media (min-width: 110px) and (max-width: 209px) {
    iframe.iframe-100 {
      display: block; } }

.vertical-high {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; }

header h2 {
  color: orange;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-size: 60px; }

h3 {
  text-align: center; }

article.menu h3, article.menu h2, section.resto h3, section.resto h2 {
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  text-shadow: 1px 1px black, -1px -1px black; }

nav {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: white; }
  nav a, nav a:visited {
    font-size: 30px;
    border-color: goldenrod;
    border-width: 5px;
    border-style: groove;
    color: red;
    text-transform: uppercase;
    font-weight: bolder; }
  nav a:hover {
    color: green;
    background-color: goldenrod; }
  nav.deroule {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    nav.deroule a {
      font-size: 30px; }

section#page1, section#page2, section#page3, section#page4 {
  display: none; }
section#page1:target, section#page2:target, section#page3:target, section#page4:target {
  display: block; }
section.resto {
  border-color: yellow;
  border-width: 5px;
  border-style: double;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  box-shadow: 1px 1px black, -1px -1px black;
  padding-bottom: 10px;
  padding-top: 10px; }

article.panel {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border: solid 3px blue;
  border-radius: 5px;
  box-shadow: 1px 1px black, -1px -1px black; }

.header-home {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header-home img {
    width: 80%;
    height: 300px;
    max-width: 500px;
    max-height: 500px; }

/*# sourceMappingURL=restaurant.css.map */
